trigger: 
  - main
pool: mypool

variables:
  appName: 'JavaLoginShowcase'
  warFileName: 'JavaLoginShowcase-1.0.0.war'
  artifactName: 'javalogin'
  jdkVersion: '1.8'         # 1.8 / 11 / 17 jo chahiye
  tomcatHome: '/opt/tomcat' # apne server ka TOMCAT_HOME yaha daalo
  deployFolder: '/home/azureuser/javalogin_deploy'
  # temp folder jaha WAR copy hoga

stages:
  - stage: linting
    displayName: "Checkstyle Linting"
    jobs:
      - job: lintJob
        displayName: "Run Checkstyle"
        steps:

        # 1) Download Checkstyle JAR
        - task: Bash@3
          displayName: "Download Checkstyle"
          inputs:
            targetType: 'inline'
            script: |
              wget https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.15.0/checkstyle-10.15.0-all.jar -O checkstyle.jar

        # 2) Download Google Style Rules
        - task: Bash@3
          displayName: "Download google_checks.xml"
          inputs:
            targetType: 'inline'
            script: |
              wget https://raw.githubusercontent.com/checkstyle/checkstyle/master/src/main/resources/google_checks.xml -O google_checks.xml

        # 3) Maven Checkstyle
        - task: Bash@3
          displayName: "Run Maven Checkstyle"
          inputs:
            targetType: 'inline'
            script: |
              mvn checkstyle:checkstyle

        # 4) Run Checkstyle JAR manually
        - task: Bash@3
          displayName: "Run Checkstyle JAR"
          inputs:
            targetType: 'inline'
            script: |
              java -jar checkstyle.jar -c google_checks.xml src/main/java > checkstyle-result.txt
              echo "Checkstyle JAR completed."

        # 5) Publish results
        - task: PublishPipelineArtifact@1
          displayName: "Publish Checkstyle Results"
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)'
            artifact: 'checkstyle-results'
            publishLocation: 'pipeline'


  - stage: 
    displayName: build wali stage
    jobs:
      - job: 
        displayName: build wali job
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              cd $(System.DefaultWorkingDirectory)
              mvn clean package
              # sudo cp -r $(System.DefaultWorkingDirectory)/target/* /opt/tomcat/webapps
              # sudo systemctl restart tomcat
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/target'
            artifact: '$(artifactName)'
            publishLocation: 'pipeline'

  - stage: deployStage
    displayName: Deploy karna hai
    jobs:
      - job: 
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'javalogin'
            itemPattern: 
            targetPath: '$(Pipeline.Workspace)/drop'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'javalogin'
            sourceFolder: '$(Pipeline.Workspace)/drop'
            contents: '*.war'
            targetFolder: '/tmp/deploy'
            readyTimeout: '20000'
        - task: SSH@0
          inputs:
            sshEndpoint: 'javalogin'
            runOptions: 'commands'
            commands: |
              sudo rm -rf /opt/tomcat/webapps/JavaLoginShowcase*
              sudo cp /tmp/deploy/*.war /opt/tomcat/webapps/
              sudo systemctl restart tomcat
            readyTimeout: '20000'

        
        
        
