trigger: 
  - main
pool: mypool

variables:
  appName: 'JavaLoginShowcase'
  warFileName: 'JavaLoginShowcase-1.0.0.war'
  artifactName: 'javalogin'
  jdkVersion: '1.8'         # 1.8 / 11 / 17 jo chahiye
  tomcatHome: '/opt/tomcat' # apne server ka TOMCAT_HOME yaha daalo
  deployFolder: '/home/azureuser/javalogin_deploy'
  # temp folder jaha WAR copy hoga

stages:
  - stage: 
    displayName: build wali stage
    jobs:
      - job: 
        displayName: build wali job
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              cd $(System.DefaultWorkingDirectory)
              mvn clean package
              # sudo cp -r $(System.DefaultWorkingDirectory)/target/* /opt/tomcat/webapps
              # sudo systemctl restart tomcat
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/target'
            artifact: '$(artifactName)'
            publishLocation: 'pipeline'

  - stage: deployStage
    displayName: Deploy karna hai
    jobs:
      - job: 
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'javalogin'
            itemPattern: 
            targetPath: '$(Pipeline.Workspace)/drop'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'javalogin'
            sourceFolder: '$(Pipeline.Workspace)/drop'
            contents: '*.war'
            targetFolder: '/tmp/deploy'
            readyTimeout: '20000'
        - task: SSH@0
          inputs:
            sshEndpoint: 'javalogin'
            runOptions: 'commands'
            commands: |
              sudo rm -rf /opt/tomcat/webapps/JavaLoginShowcase*
              sudo cp /tmp/deploy/*.war /opt/tomcat/webapps/
              sudo systemctl restart tomcat
            readyTimeout: '20000'

        
        
        
