trigger: 
  - main
pool: mypool

variables:
  appName: 'JavaLoginShowcase'
  warFileName: 'JavaLoginShowcase-1.0.0.war'
  artifactName: 'drop'
  jdkVersion: '1.8'         # 1.8 / 11 / 17 jo chahiye
  tomcatHome: '/opt/tomcat' # apne server ka TOMCAT_HOME yaha daalo
  deployFolder: '/opt/tomcat/webapps'  # temp folder jaha WAR copy hoga

stages:
  - stage: 
    displayName: build wali stage
    jobs:
      - job: 
        displayName: build wali job
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              cd $(System.DefaultWorkingDirectory)
              mvn clean package
              # sudo cp -r $(System.DefaultWorkingDirectory)/target/* /opt/tomcat/webapps
              # sudo systemctl restart tomcat
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            publishLocation: 'pipeline'

  - stage: deployStage
    displayName: Deploy karna hai
    jobs:
      - job: deployJob
        steps:
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'javalogin'
            sourceFolder: '$(System.DefaultWorkingDirectory)/target/'
            contents: 'JavaLoginShowcase-1.0.0.war'
            targetFolder: '/opt/tomcat/webapps/'
            readyTimeout: '20000'
        
